# Please refer https://aka.ms/HTTPSinContainer on how to setup an https developer certificate for your ASP .NET Core service.
version: '3.4'

services:
  db:
    image: mysql
    environment:
      MYSQL_ROOT_PASSWORD: cookie
      MYSQL_DATABASE: nespressoreviews
      MYSQL_USER: nespressoreviewsuser
      MYSQL_PASSWORD: Un!qUEp@ass*w0rd
    # volumes: 
    #   - dbdata:/var/lib/mysql
    #   - ./_MySQL_Init_Script:/docker-entrypoint-initdb.d
    restart: always

  api:
    depends_on: 
      - db
    image: nespressoreviewsapi
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - 8080:5000

volumes: 
  dbdata:
